.container {
  border-radius: 0.25rem;
  padding: 1rem;
  border: 1px solid rgb(61, 58, 58);
}

.heading {
  margin: 1rem;
}

.delays {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  gap: 1rem;
}
